<p>form-parser works!</p>

<form [formGroup]="form">
  <div *ngFor="let item of controls">
    <div [ngSwitch]="item.kindOfComponent">
      <ng-container *ngSwitchCase="'input'">
        <label>{{ item.label }}: </label>
        <input formControlName="{{item.name}}" [type]="item.type" />
      </ng-container>
      <ng-container *ngSwitchCase="'select'">
          <label>{{ item.label }}: </label>
        <select formControlName="{{item.name}}">
          <option *ngFor="let option of item.options" [value]="option.value">{{ option.label }}</option>
        </select>        
      </ng-container>
      <ng-container *ngSwitchDefault>
        undefined
      </ng-container>
    </div>
  </div>
</form>

<button (click)="checkForm()">Check form</button>
